#movie-bar {
  height: 15vh;
  background: #483d8b;
  display: table;
  justify-content: space-around;
  align-items: center;
  padding: 1vh;
  float: left;
  color: white;
}

#movie-bar span {
  padding: 1%;
  height: 80%;
  width: 10vw;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  border-radius: 50em;
  border: 1px solid white;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px 50px;
  margin-bottom: 10px;
}

.titles {
  font-size: 40px;
  padding-left: 43%;
  font-weight: bold;
}

#help {
  padding-left: 29%;
}

#image {
  padding-left: 25%;
  margin-top: 50px;
}

#banner {
  padding-left: 33.5%;
}

.moreInfo {
  font-size: 25px;
  text-align: center;
}

p {
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
}

html {
  background: #e6e6fa;
}

#buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#dark {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  background: #454545;
  color: white;
}

#nature {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  background: #90ee90;
}

#sky {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  background: #7cbdff;
}

#reset {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  background: #e6e6fa;
}

.clickHere {
  border-radius: 50%;
  font-size: 20px;
  padding: 15px;
  margin-right: 10px;
  background: #e6e6fa;
  transition-duration: 0.4s;
}

.clickHere:hover {
  background-color: purple;
  color: white;
}

#char {
  margin-left: 3%;
}

#bannerBtn {
  margin-left: 13%;
}

#characters span {
  padding: 1%;
  height: 80%;
  width: 75vw;
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  border-radius: 50em;
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 15px 50px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 15%;
}

#characters {
  align-items: center;
}

.info {
  padding: 5px;
  white-space: nowrap;
}
